<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nome" placeholder="Seu nome" name="nome" [(ngModel)]="usuario.nome"
            required>
        <label for="nome">Nome</label>
    </div>
    <div class="form-floating mb-3">
        <!--
            
            abaixo se fosse no angular 2, que não tem o validator email, do angular4+
            
            <input type="email" class="form-control" id="email" placeholder="nome@email.com"
        name="email" [(ngModel)]="usuario.email"
        required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
        <label for="email">E-mail</label> -->

        <input type="email" class="form-control" id="email" placeholder="nome@email.com" name="email"
            [(ngModel)]="usuario.email" required email>
        <label for="email">E-mail</label>
    </div>

    <!-- Usamos o two way data binding, porém pode-se usar apenas o property binding
    caso preferir, onde será apenas inicializado o valor do objeto e se houver mudanças, não
será atualizado.
        ngModel
        [ngModel]="usuario.nome"-->

    <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>