<form>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nome" placeholder="Seu nome">
        <label for="nome">Nome</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="nome@email.com">
        <label for="email">E-mail</label>
    </div>

    <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>