<!-- <app-diretiva-ngif></app-diretiva-ngif>
<hr>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<hr>
<app-diretiva-ngfor></app-diretiva-ngfor> -->

<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->

<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->

<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-exemplo-ng-content>
    Conteúdo passado para o componente.
</app-exemplo-ng-content> -->

<!-- Utilizando seletores -->

<!-- <app-exemplo-ng-content>
    <div class="titulo">
        Título do painel
    </div>
    <div class="corpo">
        Corpo do painel
    </div>
</app-exemplo-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>