<h3>Exemplo de pipes</h3>

<p>Título: {{ livro.titulo | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'2.1-2' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL':true }}</p>
<p>Data de lançamento: {{ livro.dataLancamento | date:'dd-MMM-yyyy' }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>

<p>Título: {{ livro.titulo | uppercase | lowercase }}</p> <!-- Aqui o uppercase será sobreposto pelo lowercase -->

<input type="text" [(ngModel)]="filtro">

<br>

<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>

<h5>Pipe Puro</h5>

<ul>
    <!-- NÃO FAÇAM ISSO EM UM PROJETO REAL, APENAS PARA APRENDER AQUI -->
    <li *ngFor="let liv of livros | filtroArray:filtro">
        {{ liv }}
    </li>
</ul>

<h5>Pipe Impuro</h5>

<ul>
    <!-- NÃO FAÇAM ISSO EM UM PROJETO REAL, APENAS PARA APRENDER AQUI -->
    <li *ngFor="let liv of livros | filtroArrayImpuro:filtro">
        {{ liv }}
    </li>
</ul>

<!-- NÃO DEVEMOS UTILIZAR PIPES PARA FAZER ORDER BY E NEM FILTROS NOS ARRAYS -->

<h5>Maneira correta de usar filtros nos projetos</h5>

<ul>
    <!-- NÃO FAÇAM ISSO EM UM PROJETO REAL, APENAS PARA APRENDER AQUI -->
    <li *ngFor="let liv of obterCursos()">
        {{ liv }}
    </li>
</ul>

<h3>Pipe Async</h3>

<p> {{ valorAsync | async }} </p>

<p> {{ valorAsync2 | async }} </p>

