* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    width: 80%;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 10px 10px 13px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 13px -10px rgba(0, 0, 0, 0.75);
    justify-content: space-between;
}

.card__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.card__left h1 {
    margin-top: 10px;
    font-size: 25px;
}

.card__left p {
    color: gray;
}

.card__left span {
    font-weight: 400;
}

.card__right {}

img {
height: 250px;
}