<!-- <p fundoAmarelo>
    texto com fundo amarelo
</p>
<hr>
<button fundoAmarelo>Botão com fundo amarelo</button>
<br>
<p highlightMouse>
    Texto com highlight quando passo o mouse.
</p> -->

<!-- <p highlight [defaultColor]="''" [highlightColor]="'blue'">
    Texto com highlight com cores customizadas.
</p> -->
<p>Abaixo a mesma coisa, porém com um código mais enxuto e usando o nome do Input Property igual o nome da diretiva.</p>
<p [highlight]="'blue'" [defaultColor]="''">
    Texto com highlight com cores customizadas.
</p>