<h3>*ngIf</h3>

<div *ngIf="cursos.length > 0">
    Lista de cursos aqui:
</div>
<div *ngIf="cursos.length == 0">
    Não existem cursos para serem listados.
</div>

<div *ngIf="mostrarCursos">
    Lista de cursos aqui:
</div>
<div *ngIf="!mostrarCursos">
    Não existem cursos para serem listados.
</div>

<br>

<button (click)="onMostrarCursos()">Mostrar cursos</button>

<br>

<h3>hidden como alternativa:</h3>
<div [hidden]="!mostrarCursos">
    Lista de cursos aqui:
</div>
<div [hidden]="mostrarCursos">
    Não existem cursos para serem listados.
</div>

<!-- hidden é recomendado para árvores de elementos pequena.
ngIf é recomendado para árvores de elementos grandes.

Porém, o hidden é muito menos custoso caso o custo para criar a árvore de
elementos seja grande. -->

<div *ngIf="mostrarCursos">
    Lista de cursos aqui:
</div>

<!-- <template [ngIf]="mostrarCursos">
    Lista de cursos aqui:
</template> -->

<h4>Usando o template ao invés do *</h4>

<div template="ngIf mostrarCursos">
    Lista de cursos aqui:
</div>