<form class="g-2 gy-2 row" [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <app-input-field class="col-md-4" [classeCss]="aplicaCSSErro('nome')" id="nome" label="nome" type="text"
        formControlName="nome" [control]="formulario.get('nome')">
    </app-input-field>

    <app-input-field class="col-md-4" [classeCss]="aplicaCSSErro('email')" id="email" label="E-mail"
    type="email" formControlName="email" [control]="formulario.get('email')">
    </app-input-field>

    <app-input-field class="col-md-4" [classeCss]="aplicaCSSErro('confirmarEmail')" id="confirmarEmail"
    label="Confirmar e-mail" type="email" formControlName="confirmarEmail" [control]="formulario.get('confirmarEmail')">
    </app-input-field>

    <div formGroupName="endereco" class="row g-2 gy-2">

        <app-input-field class="col-md-3" [classeCss]="aplicaCSSErro('endereco.cep')" id="cep" label="CEP"
        type="text" formControlName="cep" [control]="formulario.get('endereco.cep')"
        ></app-input-field>

        <app-input-field class="col-md-9" id="complemento" label="Complemento" formControlName="complemento" 
        [control]="formulario.get('endereco.complemento')"
        ></app-input-field>

        <app-input-field class="col-md-10" id="rua" label="Rua" formControlName="rua" 
        [control]="formulario.get('endereco.rua')" [classeCss]="aplicaCSSErro('rua')"
        ></app-input-field>

        <app-input-field class="col-md-2" id="numero" [classeCss]="aplicaCSSErro('endereco.numero')"
        label="Número" formControlName="numero" [control]="formulario.get('endereco.numero')"
        ></app-input-field>

        <app-input-field class="col-md-5" id="bairro" [classeCss]="aplicaCSSErro('endereco.bairro')"
        formControlName="bairro" [control]="formulario.get('endereco.bairro')" label="Bairro"
        ></app-input-field>

        <app-input-field class="col-md-4" label="Cidade" formControlName="cidade" 
        [classeCss]="aplicaCSSErro('endereco.cidade')" id="cidade" [control]="formulario.get('endereco.cidade')"
        ></app-input-field>

        <div class="col-md-3">
            <div class="mb-3">
                <label for="estado">Estado</label>
                <select type="text" class="form-select" id="estado" name="estado"
                    [ngClass]="aplicaCSSErro('endereco.estado')" formControlName="estado">
                    <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
                </select>
                <app-error-msg [control]="formulario.get('endereco.estado')" label="Estado">
                </app-error-msg>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="mb-3">
                <label for="cargo">Cargo</label>
                <select class="form-select" id="cargo" formControlName="cargo" [compareWith]="compararCargos">
                    <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
                </select>
            </div>
            <app-error-msg [control]="formulario.get('cargo')" label="Cargo">
            </app-error-msg>
        </div>
        <div class="col-md-3">
            <div class="mb-3">
                <label for="tecnologia">Tecnologias</label>
                <select multiple class="form-select" id="tecnologia" formControlName="tecnologias">
                    <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-3">
                <label for="newsletter">News Letter</label>
                <div id="newsletter" class="row">
                    <div class="col-sm-4" *ngFor="let item of newsletterOp">
                        <input class="form-check-input" type="radio" formControlName="newsletter" [value]="item.valor">
                        <label class="form-check-label">
                            {{item.desc}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="form-check" [ngClass]="aplicaCSSErro('termos')">
                <input class="form-check-input" type="checkbox" id="termos" formControlName="termos">
                <label class="form-check-label" for="termos">
                    Aceitar os termos
                </label>
            </div>
            <app-campo-control-erro [mostrarErro]="verificaInvalid('termos')" msgErro="Por favor, aceite os termos">
            </app-campo-control-erro>
        </div>
    </div>

    <div class="form-group col-md-4 row" [ngClass]="aplicaCSSErro('frameworks')">
        <div class="form-check" *ngFor="let item of frameworks; let i = index" formArrayName="frameworks">
            <input class="form-check-input" type="checkbox" [formControlName]="i">
            <label class="form-check-label">
                {{item}}
            </label>
        </div>
        <app-error-msg [control]="formulario.get('frameworks')" label="Framework">
        </app-error-msg>
    </div>

    <!--
        DESTA MANEIRA ABAIXO DÁ ERRO. NÃO SEI O PORQUÊ.
        <div class="form-group col-md-4 row">
        <div class="form-check" *ngFor="let item of formulario.get('frameworks')?.value; let i = index"
        formArrayName="frameworks">
            <input class="form-check-input" type="checkbox"
            [formControlName]="i" (click)="debugar(item)" #item>
            <label class="form-check-label">
                {{frameworks[i]}}
            </label>
        </div>
    </div> -->


    <div class="row">
        <button type="submit" class="btn btn-primary col-sm-3">
            Enviar
        </button>
        <button class="btn btn-secondary col-sm-3" (click)="resetar()">
            Cancelar
        </button>
        <button class="btn btn-primary col-sm-3" (click)="setarCargo()">
            Setar cargo
        </button>
        <button class="btn btn-info col-sm-3" (click)="setarTecnologias()">
            Setar tecnologias
        </button>
    </div>
    <div>
        <p>Debug do campo nome:</p>
        <p>
            Nome: {{ formulario.get('nome')?.value }} <br>
            Touched: {{ formulario.get('nome')?.touched }} <br>
            Dirty: {{ formulario.get('nome')?.dirty }} <br>
            Error: {{ formulario.get('nome')?.hasError('required') }} 
        </p>
    </div>

    <app-form-debug [form]="formulario"></app-form-debug>
</form>