<form class="row g-2 gy-2" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="col-md-6" [ngClass]="aplicaCSSErro('nome')">
        <div class="form-floating mb-3">
            <!-- No lugar de name="nome", para o Angular identificar o campo com o objeto formulário,
            devemos fazer formControlName="nome"
        Ou seja, qual é o nome utilizado no formBuilder. -->
            <input type="text" class="form-control" id="nome" placeholder="Seu nome" formControlName="nome" [ngClass]="aplicaCSSErro('nome')">
            <label for="nome">Nome</label>
            <app-campo-control-erro [mostrarErro]="verificaInvalidTouched('nome')" msgErro="Nome é obrigatório">
            </app-campo-control-erro>
        </div>
        
    </div>

    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="nome@email.com" formControlName="email" [ngClass]="aplicaCSSErro('email')">
            <label for="email">E-mail</label>
            <app-campo-control-erro [mostrarErro]="verificaInvalidTouched('email')" msgErro="Email é obrigatório">
            </app-campo-control-erro>
            <app-campo-control-erro [mostrarErro]="verificaEmailInvalido()" msgErro="Email inválido">
            </app-campo-control-erro>
        </div>
    </div>

    <div formGroupName="endereco" class="row g-2 gy-2">
        <div class="col-md-3">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="cep" name="cep" placeholder="" [ngClass]="aplicaCSSErro('endereco.cep')" formControlName="cep">
                <label for="cep">CEP</label>
                <!-- Outra maneira, se o cep fosse um objeto que tivesse mais coisas dentro, outros atributos:
                [mostrarErro]="formulario.get('endereco.cep.outro').valid"
                Se não tiver mais atributos:
                [mostrarErro]="formulario.get('endereco.cep').valid"
                Outra maneira, por meio de controls:
                [mostrarErro]="formulario.controls['endereco'].controls['cep']"-->
                <app-campo-control-erro [mostrarErro]="verificaInvalidTouched('endereco.cep')" msgErro="CEP é obrigatório">
                </app-campo-control-erro>
            </div>
        </div>

        <div class="col-md-9">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="complemento" name="complemento">
                <label for="complemento">Complemento</label>
            </div>
        </div>

        <div class="col-md-10">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="rua" name="rua" placeholder="" [ngClass]="aplicaCSSErro('endereco.rua')" formControlName="rua">
                <label for="rua">Rua</label>
                <app-campo-control-erro [mostrarErro]="verificaInvalidTouched('endereco.rua')" msgErro="Rua é obrigatório">
                </app-campo-control-erro>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="numero" name="numero" placeholder="" [ngClass]="aplicaCSSErro('endereco.numero')" formControlName="numero">
                <label for="rua">Número</label>
                <app-campo-control-erro [mostrarErro]="verificaInvalidTouched('endereco.numero')" msgErro="Número é obrigatório">
                </app-campo-control-erro>
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="bairro" name="bairro" placeholder="" [ngClass]="aplicaCSSErro('endereco.bairro')" formControlName="bairro">
                <label for="bairro">Bairro</label>
                <app-campo-control-erro [mostrarErro]="verificaInvalidTouched('endereco.bairro')" msgErro="Bairro é obrigatório">
                </app-campo-control-erro>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="cidade" name="cidade" placeholder="" [ngClass]="aplicaCSSErro('endereco.cidade')" formControlName="cidade">
                <label for="cidade">Cidade</label>
                <app-campo-control-erro [mostrarErro]="verificaInvalidTouched('endereco.cidade')" msgErro="Cidade é obrigatório">
                </app-campo-control-erro>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="estado" name="estado" [ngClass]="aplicaCSSErro('endereco.estado')" formControlName="estado">
                <label for="estado">Estado</label>
                <app-campo-control-erro [mostrarErro]="verificaInvalidTouched('endereco.estado')" msgErro="Estado é obrigatório">
                </app-campo-control-erro>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary col-sm-3">
            Enviar
        </button>
        <button class="btn btn-secondary col-sm-3" (click)="resetar()">
            Cancelar
        </button>
    </div>


    <app-form-debug [form]="formulario"></app-form-debug>
</form>