<section class="event-binding">

    <article>
        <h3>
            Event Binding
        </h3>
        <div>
            <button class="btn btn-primary" (click)="botaoClicado()">
                Me clique
            </button>

            <br><br>

            <!-- Escutar o evento quando o usuário aperta enter: keyup.enter
                (keyup.enter)="salvarValor($event.target.value)

            Escutar o evento quando o campo perde o foco: blur
        
            Outra maneira é utilizando o jogo da velha e o nome da variável, exemplo #campoInput,
            é a mesmo que acessar o event.target.
            (blur)="salvarValor(campoInput.value)
            -->

            <input type="text" (keyup)="onkeyup($event)" (keyup.enter)="salvarValor(campoInput.value)"
            (blur)="salvarValor(campoInput.value)"
            #campoInput>
            <p>Valor atual digitado: {{ valorAtual }}</p>
            <p>Valor salva após teclar ENTER: {{ valorSalvo }}</p>

            <br>
            <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()"
            [class.highlight]="isMouseOver">Passe o mouse sobre mim.</span>

        </div>

    </article>



</section>