<div class="card mt-3">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h3>Lista de cursos</h3>
            </div>
            <div class="col text-end">
                <button class="btn btn-primary" [routerLink]="['novo']">Novo curso</button>
                <button class="btn btn-secondary" (click)="onRefresh()">Recarregar cursos</button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <!-- Fazemos o "as cursos" abaixo para evitar usar dois | async, ou seja,
        para evitarmos usar dois Observables. Então reutilizamos essa variável
         lá no ng-for.-->
        <table class="table table-hover" *ngIf="cursos$ | async as cursos; else loading">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Curso</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curso of cursos">
                    <td>{{ curso.id }}</td>
                    <td> {{ curso.nome }} </td>
                    <td>
                        <div class="text-end">
                            <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(curso.id)">
                                Atualizar
                            </button>
                            <button class="btn btn-outline-danger mb-1 btn-sm">
                                Remover
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #loading>
            <span>Carregando cursos...</span>
        </ng-template>

        <!-- <ng-template #loading>
            <div *ngIf="error$ | async; else loadingNoError">
                Erro ao carregar cursos. Tente novamente mais tarde.
            </div>
            <ng-template #loadingNoError>
                <span>Carregando cursos...</span>
            </ng-template>
        </ng-template> -->

    </div>
</div>